@import "./Variables.scss";

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: $background-color;
  color: $dark-gray;
}

.font-weight-bold {
  font-weight: bold;
}

.mr-1 {
  margin-right: 1rem;
}

.landing-page-newsletter {
  text-align: center;
  padding: 1.25rem;

  header {
    background-color: $primary;
    color: $secondary;
    padding: 1.25rem;
    border-radius: 0.625rem;
  }

  &__pdf-viewer {
    margin: 1.25rem auto;
    border: 0.0625rem solid $dark-gray;
    border-radius: 0.625rem;
    overflow: hidden;
  }

  &__buttons {
    .btn {
      padding: 0.625rem 1.25rem;
      border-radius: 0.3125rem;
      text-decoration: none;
      cursor: pointer;
    }

    .btn-primary {
      --bs-btn-color: #fff;
      --bs-btn-bg: #023b71;
      --bs-btn-border-color: #023b71;
      --bs-btn-hover-color: #fff;
      --bs-btn-hover-bg: #01284b;
      --bs-btn-hover-border-color: #01284b;
      --bs-btn-focus-shadow-rgb: 49, 132, 25 3;
      --bs-btn-active-color: #fff;
      --bs-btn-active-bg: #01284b;
      --bs-btn-active-border-cnolor: #01284b;
    }

    .button-icon {
      margin-left: 0.375rem;
    }
  }
}
